body {
    text-align: center;
    background-color: #EBC7E6;
    color: #645CBB
}

/* 
.container {
   ;
} */

table {
    margin: auto;
    text-align: center;
    
}

.board {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #645CBB;
    cursor: pointer;

}

td {
    user-select: none;
    overflow: hidden;
    border: 2px solid #BFACE2;
   

}

.cell {
    height: 30px;
    width: 30px;
    overflow: hidden;
    background-color:  #645CBB;
    color: #EBC7E6;
}

.transparent {
    color: transparent;
}

.modal {
    display: none;
    border: solid 3px grey;
    width: 300px;
    height: 200px;
    background-color: rgb(222, 226, 228);
    color: black;
    font-size: 32px;

    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
}

.level-btn {
    cursor: pointer;
}

footer {
    margin-top: 20px;
}

.best-score {
    margin-right: 50px;
    border: dotted;
    padding: 5px;
}

.timer {
    border: dotted;
    padding: 5px;
}
.safe-btn {
    margin-top: 30px;
    padding: 20px;
    background-color: #BFACE2;
    border-radius: 20%;
}

.safe-txt {
    margin-top: 5px;
}